header{
    background-position: center;
    background-image: url("kj.jpg");
    height: 350px;

}
h1{

    margin-top: 80px;
    padding-left: 11rem;
    font-size: 30px;
    text-align: center;

}
h2{
    margin-top: 10px;
}

h3{
    font-weight: bold;
    color: #894f3b;
}

td,th{
    text-align: center;
}

thead>tr:first-child{
    letter-spacing: 2px;
}

body{
    background-color: #f5c2c7;

}